<h1>Change Password</h1>

<div>
  <%= form_tag("/users/#{@user.id}", method: "patch") do %>

  <%= label_tag  (:old_password )%>
  <%= text_field_tag :old_password %><br>

  <%= label_tag  (:new_password )%>
  <%= text_field_tag :new_password %><br>

  <%= label_tag  (:new_password_confirmation )%>
  <%= text_field_tag :new_password_confirmation %><br>
  <%= submit_tag "Submit" %>
  <% end %>
</div>
