<h1>Create a New post</h1>
<%= @post.errors.full_messages.join(', ') %>
<%= form_for @post do |f| %>
 <div>
   <%= f.label :title %>
    <%= f.text_field :title %>
 </div>

 <div>
  <%= f.collection_select :category_id, Category.all,:id,:title %>
</div>

<div>
  <%= f.collection_select(
      :tag_ids, Tag.all, :id, :name, {},
      {multiple: true, class: 'chosen-select'}

  ) %>
</div>

 <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>

<script>
  $('.chosen-select').chosen({width: '300px'});
</script>
